*
{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),URL(images/pexels-photo-373458.jpeg);
}

p{
    position: relative;
    left: 300px;
    height: 68px;
    width: 640px;
   font-style: initial;
   color: black;
    background-color: rgb(214, 165, 165);
}

.section{
    position: relative;
left: 500px;
top: 150px;
   
    color: rgb(0, 0, 0);
    
     font-weight: 600;
    
}

table{
    color: rgb(255, 255, 255);
    
   padding-left: 30px;
   padding-top: 30px;
   padding-bottom:30px ;
   padding-right:30px ;
    position: relative;
    right: 120px;
    bottom: 150px;
    width: 500px;
    border: lavender;
   
}

h1{
    color: rgb(163, 163, 0);
    font-size: 50px;
    justify-content: center;
    margin-left: 500px;
}
p{
    color:rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 10px;
    padding-left: 15px;

}

footer{
    background-color:black;
}

.footercontainer{
width: 100%;
height: 20%;
padding: 70px 30px 20px;
background-color: #000000;
position: relative;
top: 30px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color: #000000;
    opacity:0.9;
}

.socialicons a:hover{
    background-color: #ffffff;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: #a81f1f;
    transition: 0.5s;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav ul li a{
    color: #ffffff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1s;
}
 